nav{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul button{
    display: inline-block;
    padding: 1%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    opacity: 0.8;
}

nav ul button:hover{
    opacity: 1;
    padding: 10px;
}

body{
    background-image: url(img/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p{
    padding: 15px;
}

.tablero{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    gap: 5px;
    height: 620px;
    width: 620px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(129, 144, 169);
}
.casilla{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    font-size: 200px;
    border-radius: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.tablero [onclick]:hover{
    background-color: lightgrey;
}

.puntuacion{
    height: 100%;
}

.contadores{
    font-size: 50px;
}

.X{
    background-color:   violet;
}

.O{
    background-color: yellow;
}

.ganadora{
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker{
    50% {
        opacity: 0;
    }
}

#turno{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

#puntuacionX{
    border-right: 1px solid white;
}

#puntuaciones{
    border: 1px solid white;
    display: flex;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.titulos{
    border-bottom: 2px solid black;
}

#reseteoTablero{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    opacity: 0.8;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reseteoTablero:hover{
    opacity: 1;
    scale: 1.1;
    cursor: pointer;
}

#reseteoPuntuacion{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    opacity: 0.5;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#reseteoPuntuacion:hover{
    opacity: 1;
    scale: 1.1;
    cursor: pointer;
}

@media screen and (min-width:769px){

    nav ul button:hover{
        opacity: 1;
        padding: 20px;
    }
}